/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* 
/* Navbar.css */

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.top_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo_pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo h6 {
  margin: 0;
  font-size: 18px;
  color: #333333;
}

.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_bar ul li {
  margin-right: 20px;
}

.nav_bar ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav_bar ul li a:hover {
  color: #007bff;
}

/* Product.css */

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.product-card {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card p {
  margin: 10px 0;
  color: #333333;
}

.product-card p.title {
  font-size: 18px;
  font-weight: bold;
}

.product-card p.price {
  font-size: 16px;
  color: #007bff;
}















.upload-container {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}


.upload-input {
  display: none; 
}


.upload-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.file-name {
  margin-top: 10px;
}


.upload-image{
  /* height: 50px; */
  /* width: 50px; */
  justify-content: center;
  align-items: center;
}

.upload-image-container{
  background-color: rgb(244, 234, 234);
  margin:20px ;
  width: 100PX;
  height: 100px;
}